div.container,
div.container-fluid,
div.row,
div.col,
[class*="col-"] {
    padding: 0px;
    margin: 0px;
}

#app {
    top: 0px;
    left: 0px;
    background: #FFFFFF url('../../assets/images/hero-river.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0px;
}

@media (min-width: 1200px) {
    #app, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1600px;
        margin: 0 auto;
    }
}

.main {
    width: 100%;
    height: 100%;
    background: transparent url('../../assets/images/Rectangle3.svg') 0% 0% no-repeat padding-box;
    opacity: 0.8;
}
